.chat-title {
	-fx-font-family: "Bangers";
	-fx-font-size: 50px;
}

.add-button {
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-max-width: 40px;
	-fx-max-height: 40px;
    -fx-background-color: black;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;

    -fx-padding: 0;
    -fx-alignment: CENTER;
    -fx-cursor: hand;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.35),
        8,
        0.3,
        0,
        2
    );


}

.send-button {
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-max-width: 40px;
	-fx-max-height: 40px;
	-fx-background-color: black;

	-fx-background-radius: 50%;
	-fx-border-radius: 50%;

	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-max-width: 40px;
	-fx-max-height: 40px;

	-fx-padding: 0;
	-fx-alignment: CENTER;
	-fx-cursor: hand;

	-fx-effect: dropshadow(
	    gaussian,
	    rgba(0, 0, 0, 0.35),
	    8,
	    0.3,
	    0,
	    2
	);
}

.add-button:hover {
    -fx-background-color: #222222;

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

    -fx-effect: dropshadow(
        gaussian,
        rgba(255,255,255,0.75),
        15,
        0.4,
        0,
        0
    );
}

.send-button:hover {
    -fx-background-color: #222222;

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

    -fx-effect: dropshadow(
        gaussian,
        rgba(255,255,255,0.75),
        15,
        0.4,
        0,
        0
    );
}

.add-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.send-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.tooltip {
    -fx-background-color: #181818;
    -fx-text-fill: white;
    -fx-font-family: "Bangers";
    -fx-font-size: 13px;
    -fx-font-weight: bold;

    -fx-padding: 7px 11px;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.5),
        10,
        0.35,
        0,
        3
    );
}

.bottom-bar {
    -fx-padding: 0 0 15px 20px;
}

.message-field {
    -fx-background-color: white;
    -fx-border-color: #999999;
    -fx-border-width: 1px;
    -fx-border-radius: 18px;
    -fx-background-radius: 18px;
    -fx-padding: 5px 10px;
}

.message-field .content {
    -fx-background-color: white;
    -fx-background-radius: 18px;
    -fx-padding: 5px 10px;
}

.message-field .scroll-pane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

.message-field .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.chat-scroll-pane {
    -fx-background-color: white;
    -fx-background: white;
    -fx-border-color: transparent;
}

.chat-scroll-pane > .viewport {
    -fx-background-color: white;
}

.chat-box {
    -fx-padding: 15px;
    -fx-background-color: white;
}

.connected-box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1.5px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 3px;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

/* Text inside ComboBox */
.connected-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 8px 10px;
}

/* Arrow section */
.connected-box .arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 10px;
}

/* Black arrow */
.connected-box .arrow {
    -fx-background-color: black;
}

/* Hover */
.connected-box:hover {
    -fx-border-color: black;
    -fx-background-color: #f5f5f5;
}

/* Focus */
.connected-box:focused {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: white;
}

/* Dropdown */
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 3px;
}

/* Dropdown items */
.combo-box-popup .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 9px 10px;
}

/* Dropdown hover */
.combo-box-popup .list-cell:hover {
    -fx-background-color: #eeeeee;
    -fx-text-fill: black;
}

/* Selected dropdown item */
.combo-box-popup .list-cell:selected {
    -fx-background-color: #dddddd;
    -fx-text-fill: black;
}
